<!doctype html>
<html>
	<body>

<!-- NAVBAR
	======================================================================================================================================= -->	   	
		<!--Jumbotron: Big box -->
				<div class = "container">
					<h1 style="text-align:center">InstaData</h1>
					<div class="row">
						<div class="col-md-12">
							<div class = "jumbotron">
								<center> 
				
									<!--IMAGE -->
									<p style="font-size:38">Welcome, {{user.name}}</p> 
									<a href="/c3visualization">view ORIGINAL C3 visualization</a>
									<br/>

									<a href="/c3areaChart">view NEW C3 visualization</a>
									<br/>

									<a href="/visualization">view D3 visualization</a>
									<br/>

									<a href="/d3vis">view NEW D3 visualization</a>
							
				
								</center>
							</div>
						</div>
						
					</div>
				</div>
		
		
	</body>
	

</html>


