<!doctype html>
<html>
	<body>

<!-- NAVBAR
	======================================================================================================================================= -->	   	
		
		<!--Jumbotron: Big box -->
				<div class = "container">
					<h1 style="text-align:center">InstaData
					
						<form class="navbar-form navbar-right" role="form"> 
                
                		<button id="login" type="button"><a id="log"href="/auth/instagram">Login</a></button>
              			</form> 
              		</h1>
					<div class="row">
						<div class="col-md-12">
							<div class = "jumbotron">
								<center> 
				
									<!--IMAGE -->
									<img class = "featuredImg" src = "http://cdn.gottabemobile.com/wp-content/uploads/2014/07/Instagram-logo.jpg" width = "100%"> <!--width 100% keeps image within panel-->
				
							
				
								</center>
							</div>
						</div>
						
					</div>
				</div>
		
		
	</body>
	

</html>


