<body>
<div class = "container">
					<h1 style="text-align:center">InstaData</h1>
					<div class="row">
						<div class="col-md-12">
							<div class = "jumbotron">
								<center> 
									
									<h1> Media Count of Your Instagram Followers using D3JS</h1>
									<div id="parent">
										<div id="prog" class="spinner">
										  <div class="dot1"></div>
										  <div class="dot2"></div>
										</div>
									</div>
									<br>
									<br>
									<div id="chart"></div>
									
								</center>
								<button align="left"><a href="/account">Back</a></button>
								<button id="b" align="right" onclick="sortGraph()"> Sort </button>
							</div>
						</div>
						
					</div>
				</div>

</body>

<script src="js/tip.js"></script>
<script src="js/visualization.js"></script>